body {
    background-color:grey;
    text-align: center;
    /* position: relative; */
    }
.post {
    background-color: rgb(219, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 740px;
    width: 590px;
    position: absolute;
    left: 30%;
    top: 10%;
    font-family: sans-serif;
    

}
.parte1 {
    display: flex; flex-direction: row; align-items: stretch; flex-grow: 1,1,2; justify-content: flex-start;
    height: 10%;
    width: 100%;
}
.parte2 {
    display: flex;
    height: 60%;
    width: 100%;
}
.parte3 {
    display: flex; flex-direction: column ; align-items: stretch;
    height: 30%;
    width: 100%;
    text-align: justify;
    padding-left: 25px;
    padding-right: 50px;
    font-size: medium;
}
img {
    display: flex;
    width: 100%;
    font-size: large; /*no funciona */
}
.icon1 {
    display: flex;
    height: 100%;
    padding-top:19px;
    padding-left:15px;
    padding-right:15px;
}

.text { 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}
.html {
    display: flex;
    height: 30%;
    font-weight: bold ;
}
.name {
    display: flex;
    height: 30%;
   
}
.icon2 {
    display: flex;
    height: 100%;
    position: relative;
    height: fit-content;
    top: 30%;
    padding-top:7px;
    padding-left:40px;
}
.iconline {
    display: flex; flex-direction: row;
    font-weight:bolder ;
    padding-top: 2%;
    /* padding-left: %; */
    font-size: larger;
    }
.icongroup {
    display: flex; justify-content: flex-start;
}
.icon3 {
    display: flex; align-self: flex-end;
    padding-left: 78%;
}
.text2 {
    display: flex;
}
.text3 {
    display: flex;
    padding-right: 8%;

}